/* - Header text color: #143774
 - Navbar background color: #F8F8F8
 - Header font: Lora
 - Link font: Ubuntu
 - Link text color: #717171 */

 body {
   margin: 0;
 }

 .nav {
   background: #f8f8f8;
   min-height: 150px;
   margin: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .title {
   
 }